.wrap-content{
    padding: 36px;
    background-color: #f5f5f5;
    border: 1px solid rgb(235, 237, 240);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    width: 80vw;
    margin-top: 16px;
}